$primaryColor: #383937;
$color1: #2fa38a;
$color2: #193958;
$color3: #712b93;
$color4:#b53549;
$color5: #c06138;
$color6: #1e6820;
$color7: #113a23;
$color8:#220a23;
$color9:#6e204a;


$textColor: #DBE4CA;
