article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p, ul, li, h2, h3, h4 {
  margin: 0 auto;
  padding: 0px; }

header h1 {
  font-family: 'Philosopher', sans-serif;
  font-size: 3rem;
  color: #1f1f1e; }

h2 {
  text-transform: uppercase; }

button {
  padding: 10px 50px;
  text-transform: uppercase;
  background-color: #5e605d;
  font-weight: bold;
  border: none; }

button:hover {
  background-color: #454644; }

input {
  background-color: #c4c5c3;
  max-width: 100px;
  border: none;
  margin: 5px auto;
  padding: 5px; }

.showspin span {
  background-color: #c4c5c3;
  border-color: #91938f; }

select {
  background-color: #c4c5c3;
  margin: 5px auto; }

nav {
  width: 100%;
  background-color: #1f1f1e;
  position: fixed;
  z-index: 10;
  padding: 5px 0px; }

footer {
  width: 100%;
  background-color: #1f1f1e;
  padding: 5px 0px;
  text-align: center; }

nav a {
  text-decoration: none;
  color: #DBE4CA; }

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

nav li {
  background-color: #525350;
  padding: 5px;
  width: 15%;
  text-align: center; }

nav li:hover {
  background-color: #5e605d; }

form {
  color: #1f1f1e; }

.mainwrap {
  margin: 0 auto;
  padding: 0px;
  height: 100%;
  width: 95%;
  max-width: 1366px; }

.wrap {
  margin: 0 auto;
  padding: 0px;
  height: 100%;
  width: 100%; }

.boxwrap {
  margin: 0 auto;
  padding: 0px;
  height: calc(98% - 35px);
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  margin-top: 5px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

body {
  background-color: #383937;
  background-image: url("round.png");
  font-size: 16px;
  font-family: 'Roboto',sans-serif;
  color: #DBE4CA;
  position: relative;
  letter-spacing: .1rem; }

header {
  color: #DBE4CA; }

.galleryItem {
  height: 440px;
  width: 340px;
  background-color: white;
  display: grid;
  background-color: white;
  outline: 3px solid white;
  color: black;
  border: 1px solid black;
  grid-auto-rows: minmax(calc(440px / 10), calc(440px / 10));
  grid-auto-columns: minmax(calc(340px / 5), calc(340px / 5)); }

.grid {
  display: grid;
  grid-auto-rows: minmax(70px, auto);
  grid-template-areas: " . . . . . . . ." ". . title title  . . . ." ". intro intro intro intro intro intro intro" "start start start start start start start start" "start start start start start start start start" " . . . . . . . ." "global global global global global global global global" " . . . . . . . ."; }

.headtitle {
  grid-area: title; }

.headtitle .flex {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.sword img {
  height: 70px;
  margin-left: 20px;
  -webkit-animation: slice 5s ease-in 0s infinite normal;
  animation: slice 5s ease-in 0s infinite normal; }

@-webkit-keyframes slice {
  0% {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn); }
  40% {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn); }
  47% {
    -webkit-transform: rotate(0.15turn);
    transform: rotate(0.15turn); }
  50% {
    -webkit-transform: rotate(0.25turn);
    transform: rotate(0.25turn); }
  57% {
    -webkit-transform: rotate(0.15turn);
    transform: rotate(0.15turn); }
  60% {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn); }
  100% {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn); } }

@keyframes slice {
  0% {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn); }
  40% {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn); }
  47% {
    -webkit-transform: rotate(0.15turn);
    transform: rotate(0.15turn); }
  50% {
    -webkit-transform: rotate(0.25turn);
    transform: rotate(0.25turn); }
  57% {
    -webkit-transform: rotate(0.15turn);
    transform: rotate(0.15turn); }
  60% {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn); }
  100% {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn); } }

.intro {
  grid-area: intro;
  margin-left: 50px;
  width: 80%;
  color: #1f1f1e; }

.firstchoice {
  grid-area: start; }

.firstchoice h4 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #1f1f1e; }

.galleryItem h3 {
  font-size: 1rem; }

.examplebox {
  text-align: center;
  color: #DBE4CA; }

.galleryItem .box1 {
  background-color: #2a6094; }

.galleryItem .box2 {
  background-color: #245380; }

.galleryItem .box3 {
  background-color: #1f466c; }

.galleryItem .box4 {
  background-color: #193958; }

.galleryItem .box5 {
  background-color: #132c44; }

.galleryItem .box6 {
  background-color: #0e1f30; }

.galleryItem .box7 {
  background-color: #08121c; }

.galleryItem .box8 {
  background-color: #020609; }

.galleryItem .sheettitle {
  background-color: #306ca7; }

.examplebox h2 {
  font-size: 2rem; }

.examplebox .boxtitle {
  height: 100%;
  border: none; }

.gallery img {
  height: 440px;
  width: 340px; }

.galleryItem {
  margin: 20px;
  opacity: .5; }

.galleryItem.is-selected {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 1; }

.flickity-prev-next-button.previous {
  left: 0px; }

.flickity-prev-next-button.next {
  right: 0px; }

.flickity-prev-next-button {
  width: 55px;
  height: 100%;
  border-radius: 0%;
  background-color: #5e605d; }

.flickity-page-dots .dot {
  height: 10px;
  width: 150px;
  margin: 0;
  border-radius: 0;
  background: #DBE4CA; }

#boxform {
  grid-area: form;
  height: 100%; }

#boxform button {
  margin-bottom: 15px; }

#globform {
  grid-area: global; }

#globform .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

#globform h2 {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0;
  float: left; }

#globalstyles {
  width: 70%; }

#globalstyles h3 {
  margin: 15px 0px;
  margin-left: -15px; }

#globalstyles .flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

#globalstyles .flex div {
  max-height: 200px; }

#globform button {
  margin-top: 50px; }

.form1 {
  grid-area: form1; }

.form2 {
  grid-area: form2; }

.form3 {
  grid-area: form3; }

.form4 {
  grid-area: form4; }

.form5 {
  grid-area: form5; }

.form6 {
  grid-area: form6; }

.form7 {
  grid-area: form7; }

.form8 {
  grid-area: form8; }

#boxform h2 {
  float: left; }

aside span {
  margin-left: 15px;
  font-size: 2rem; }

.showspin span {
  margin: 0;
  font-size: 1rem; }

.forms {
  margin: 20px auto;
  overflow: hidden; }

.solidb {
  border: 5px black solid; }

.galleryItem .solidb {
  border: none; }

.dottedb {
  border: 5px black dotted; }

.doubleb {
  border: 5px black double; }

#sheet {
  display: grid;
  background: white;
  max-width: 850px;
  grid-auto-rows: minmax(105px, 105px);
  grid-auto-columns: minmax(160px, 160px);
  width: 850px;
  height: 1100px;
  max-height: 1100px;
  padding: 20px;
  outline: 10px solid white;
  margin: 20px;
  color: black; }

.sheet {
  visibility: hidden; }

.layout1 {
  grid-template-areas: "box1 box1 header header header"  "box1 box1 box2 box2 box2"  "box3 box3 box2 box2 box2"  "box3 box3 box2 box2 box2"  "box4 box4 box4 box4 box4"  "box4 box4 box4 box4 box4"  "box5 box5 box5 box6 box6"  "box5 box5 box5 box6 box6"  "box5 box5 box5 box7 box7"  "box8 box8 box8 box7 box7";
  visibility: visible; }

.layout2 {
  grid-template-areas: "box1 box1 box2 box2 box2" "box1 box1 box2 box2 box2" "box1 box1 box3 box3 box3" "box1 box1 box3 box3 box3" "box4 box4 box4 box5 box5" "box4 box4 box4 box5 box5" "box6 box6 header header header" "box6 box6 box7 box7 box8" "box6 box6 box7 box7 box8" "box6 box6 box7 box7 box8";
  visibility: visible; }

.layout3 {
  grid-template-areas: "header header header header header" "box1 box1 box1 box1 box1" "box1 box1 box1 box1 box1" "box2 box2 box3 box3 box3" "box2 box2 box4 box4 box5" "box2 box2 box4 box4 box5" "box6 box6 box4 box4 box5" "box6 box6 box7 box7 box5" "box8 box8 box7 box7 box5" "box8 box8 box7 box7 box5";
  visibility: visible; }

.layout4 {
  grid-template-areas: "box1 box2 box2 box2 box2" "box1 box2 box2 box2 box2" "box1 box3 box3 box3 box3" "box1 box3 box3 box3 box3" "box1 box4 box4 box5 box5" "box1 box4 box4 box5 box5" "box1 box6 box6 box7 box7" "box1 box6 box6 box7 box7" "box1 box8 box8 box8 box8" "header header header header header";
  visibility: visible; }

.layout5 {
  grid-template-areas: "header header header box1 box1" "box2 box2 box2 box1 box1" "box2 box2 box2 box3 box3" "box4 box4 box4 box3 box3" "box4 box4 box4 box3 box3" "box5 box5 box5 box6 box6" "box5 box5 box5 box6 box6" "box7 box7 box7 box6 box6" "box7 box7 box7 box8 box8" "box7 box7 box7 box8 box8";
  visibility: visible; }

.font1, .tfont1 {
  font-family: 'Rammetto One', cursive; }

.font2,
.tfont2 {
  font-family: 'Anton',sans-serif; }

.font3,
.tfont3 {
  font-family: 'Berkshire Swash',cursive; }

.font4,
.tfont4 {
  font-family: 'roboto', sans-serif; }

.font5,
.tfont5 {
  font-family: 'Kavivanar', cursive; }

.size1 {
  font-size: .75rem; }

.size2 {
  font-size: .1rem; }

.size3 {
  font-size: 1.25rem; }

.contentbox {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: 5px; }

.sheettitle {
  grid-area: header;
  font-size: 1.5rem; }

.titlebox {
  height: 20px; }

.box1 {
  grid-area: box1; }

.box2 {
  grid-area: box2; }

.box3 {
  grid-area: box3; }

.box4 {
  grid-area: box4; }

.box5 {
  grid-area: box5; }

.box6 {
  grid-area: box6; }

.box7 {
  grid-area: box7; }

.box8 {
  grid-area: box8; }

.boxlined {
  height: 25px;
  width: 100%;
  border-bottom: 2px solid black; }

.boxbubbles {
  border: 2px solid black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  float: left;
  margin: 2px; }

.boxtitle {
  margin: 15px 0px 5px;
  border-bottom: 2px solid black; }

.centert {
  text-align: center; }

.floatt {
  left: 10px;
  position: absolute;
  color: white;
  background-color: black;
  border: none;
  padding: 2px 10px; }

.leftt {
  padding-left: 15px; }

.rightt {
  text-align: right;
  padding-right: 15px; }

.tleft {
  padding-left: 15px; }

.tright {
  text-align: right;
  padding-right: 15px; }

.tcenter {
  text-align: center; }

.tspace {
  padding-left: 5px;
  letter-spacing: 10px; }

.tsize1 {
  font-size: 1rem; }

.tsize2 {
  font-size: 2rem; }

.tsize3 {
  font-size: 3rem; }

.titlespace {
  height: 55px; }

.tableoff {
  display: none; }

.boxtable {
  height: 100%;
  position: absolute;
  border-left: 2px solid black;
  display: block;
  width: 25%; }

.line0 {
  left: 0%;
  border: none; }

.line1 {
  left: 25%; }

.line2 {
  left: 50%; }

.line3 {
  left: 75%; }

.tabletitles1,
.tabletitles2,
.tabletitles3,
.tabletitles4,
.tabletitles5,
.tabletitles6,
.tabletitles7,
.tabletitles8 {
  display: none; }

.hidespin1,
.hidespin2,
.hidespin3,
.hidespin4,
.hidespin5,
.hidespin6,
.hidespin7,
.hidespin8 {
  visibility: hidden; }

.showspin {
  visibility: visible; }

.showme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.tabletitle {
  text-align: center;
  width: 100%;
  margin-top: 5px; }

main .flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

aside .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.boxplaque h4 {
  font-size: 1rem; }

.boxplaque h1 {
  font-size: 2rem;
  margin: 0 auto; }

.boxplaque {
  padding: 2px;
  text-align: center; }
